**/bin/
**/obj/
**/*.user
**/.vs/
**/.vscode/
**/*.suo

nlp-service/
database/EduConnectDb.bak
build-verify/
scripts/
swagger-check.*.log

**/appsettings.Development.json
**/appsettings.Local.json
**/.env
**/.env.*
